USE [master]
GO
/****** Object:  Database [agnidatabase]    Script Date: 12/16/2017 8:41:20 PM ******/
CREATE DATABASE [agnidatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'agnidatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ELASQLEXPRESS\MSSQL\DATA\agnidatabase.mdf' , SIZE = 321536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'agnidatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ELASQLEXPRESS\MSSQL\DATA\agnidatabase_log.ldf' , SIZE = 84416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agnidatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agnidatabase]
GO
/****** Object:  Table [dbo].[attributes]    Script Date: 12/16/2017 8:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attributes](
	[AttributeName] [varchar](200) NOT NULL,
	[AttributeValue] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 12/16/2017 8:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[BillNo] [numeric](11, 0) IDENTITY(1,1) NOT NULL,
	[CustNo] [int] NOT NULL,
	[BillDate] [datetime] NOT NULL,
	[DesignCost] [numeric](13, 0) NOT NULL,
	[UnPaidAmountTillNow] [numeric](13, 0) NOT NULL,
	[CGST] [numeric](5, 2) NULL,
	[SGST] [numeric](5, 2) NULL,
	[IGST] [numeric](5, 2) NULL,
	[PaidAmount] [numeric](13, 0) NOT NULL,
	[Cancelled] [bit] NOT NULL,
	[DisplayBillNo] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[BillNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/16/2017 8:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustNo] [int] IDENTITY(1,1) NOT NULL,
	[CompName] [varchar](200) NOT NULL,
	[GSTIN] [varchar](50) NOT NULL,
	[OwnerName] [varchar](100) NOT NULL,
	[Address] [varchar](250) NULL,
	[Mobile] [varchar](15) NULL,
	[Landline] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[CGST] [numeric](5, 2) NULL,
	[SGST] [numeric](5, 2) NULL,
	[IGST] [numeric](5, 2) NULL,
	[WorkingPrintSqrInch] [numeric](8, 2) NULL,
	[WorkingColor] [numeric](8, 2) NULL,
	[PrintColor] [numeric](8, 2) NULL,
 CONSTRAINT [PK_Customer_1] PRIMARY KEY CLUSTERED 
(
	[CustNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[design]    Script Date: 12/16/2017 8:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[design](
	[DesignNo] [numeric](11, 0) IDENTITY(1,1) NOT NULL,
	[CustNo] [int] NOT NULL,
	[DesignName] [varchar](50) NOT NULL,
	[Height] [numeric](10, 2) NULL,
	[Width] [numeric](10, 2) NULL,
	[Colors] [int] NOT NULL,
	[UnitCost] [numeric](10, 2) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Image] [image] NULL,
	[Price] [numeric](15, 0) NOT NULL,
	[DesignDate] [datetime] NOT NULL,
	[Billed] [bit] NOT NULL,
	[BillNo] [numeric](11, 0) NULL,
 CONSTRAINT [PK_design] PRIMARY KEY CLUSTERED 
(
	[DesignNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 12/16/2017 8:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/16/2017 8:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[PaymentNo] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CustNo] [int] NOT NULL,
	[BillNo] [numeric](11, 0) NOT NULL,
	[UnPaidBilledAmount] [numeric](15, 0) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMode] [nvarchar](10) NOT NULL,
	[ActualPaidAmount] [numeric](15, 0) NOT NULL,
	[Discount] [numeric](15, 0) NOT NULL,
	[FinalPaidAmount] [numeric](15, 0) NOT NULL,
	[ChequeNo] [nvarchar](50) NULL,
	[BankName] [nvarchar](50) NULL,
	[ChequeDate] [datetime] NULL,
	[Remarks] [nvarchar](100) NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[PaymentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[attributes] ([AttributeName], [AttributeValue]) VALUES (N'bill_pdf_dest_path', N'C:\Users\Admin\Desktop\BIlls')
INSERT [dbo].[attributes] ([AttributeName], [AttributeValue]) VALUES (N'last_bill_no', N'80')
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustNo], [CompName], [GSTIN], [OwnerName], [Address], [Mobile], [Landline], [Email], [Website], [CGST], [SGST], [IGST], [WorkingPrintSqrInch], [WorkingColor], [PrintColor]) VALUES (12, N'KVM PRINTERS', N'33BAOPM1408B1Z7', N'Mohan', N'#  , Vivekananthar Stret,
Nasiyanur Main Road,
Narayanavalasu,
Erode - 638011', N'9940962338', N'', N'', N'', CAST(2.50 AS Numeric(5, 2)), CAST(2.50 AS Numeric(5, 2)), CAST(0.00 AS Numeric(5, 2)), CAST(0.35 AS Numeric(8, 2)), CAST(150.00 AS Numeric(8, 2)), CAST(0.20 AS Numeric(8, 2)))
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[design] ON 

SET IDENTITY_INSERT [dbo].[design] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer]    Script Date: 12/16/2017 8:41:21 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [IX_Customer] UNIQUE NONCLUSTERED 
(
	[CompName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_Customer] FOREIGN KEY([CustNo])
REFERENCES [dbo].[Customer] ([CustNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_Customer]
GO
ALTER TABLE [dbo].[design]  WITH CHECK ADD  CONSTRAINT [FK_design_Customer] FOREIGN KEY([CustNo])
REFERENCES [dbo].[Customer] ([CustNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[design] CHECK CONSTRAINT [FK_design_Customer]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_bill] FOREIGN KEY([BillNo])
REFERENCES [dbo].[bill] ([BillNo])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_bill]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_payment] FOREIGN KEY([CustNo])
REFERENCES [dbo].[Customer] ([CustNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_payment]
GO
USE [master]
GO
